// @import url('https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap-grid.min.css');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500&family=Noto+Sans:wght@400;700&display=swap');

.pasja {
  font-family: 'Mulish', sans-serif;

  &__button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 8px 16px;

    background-color: transparent;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    color: #286efa;

    font-size: 14px;
    font-weight: 500;

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      border-radius: 8px;
      transition-property: opacity, background-color;
      transition-duration: 0.3s;
      opacity: 0;
      user-select: none;
      pointer-events: none;
    }

    &:hover {
      &::before {
        opacity: 0.15;
        background-color: currentColor;
      }
    }

    &--add-column {
      border: 1px solid #ddd;
      color: #333;
    }

    &--reset {
      color: #333;
    }

    &--confirm {
      background-color: #286efa;
      color: #fff;
    }
  }
}
